<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Chart.js (si quieres incluirlo en todas las páginas) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        html, body {
            height: 100%;
        }
    
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
        }

    {% block extra_head %}{% endblock %}
</head>
<body class="bg-light">
    
    <div class="container mt-5">
        <!-- Sidebar (opcional) -->
        <div class="d-flex">
            <nav class="flex-shrink-0 p-3 bg-light border-end" style="width: 200px;">
                <h4>Menú</h4>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard2' %}">Ingresar Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard2' %}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard2' %}">Ajustes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard2' %}">otros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                    <!-- Agrega más enlaces según sea necesario -->
                </ul>
            </nav>

            <!-- Main Content -->
            <div class="p-4 w-100">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    {% block extra_scripts %}{% endblock %}
    
</body>
</html>

