{% extends 'base.html' %}
{% block title %} Ingreso de Datos {% endblock %}
{% block content%}

    <div class="container mt-5">
        <h2 class="text-center">Agregar Dato</h2>
        <form method="POST" action="{% url 'agregar_dato' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="dato" class="form-label">Dato</label>
                <input type="text" class="form-control" id="dato" name="dato" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    

{% endblock %}
